@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.site {
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    border-radius: 24px;
    padding: 187px 247px 43px 346px;
    position: relative;
    color: white;
    font-family: 'Comfortaa', cursive;
  }
  .frame-3 {
    background-color: rgb(20, 20, 20);
    padding: 14px 214px 6px 56px;
    box-shadow: 0 -1px 0 0 var(--transparent-white) inset;
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: -91px;
    top: 0;
  }
  .logo1 {
    width: 125px;
    height: 125px;
    margin-right: 175px;
  }
  .deltarune {
    width: 573px;
    height: 101px;
    margin-top: 12px;
    margin-right: 172px;
  }
  .relative-wrapper-one {
    position: relative;
  }
  .wiki {
    height: 70px;
    width: 185px;
    color: var(--white);
    display: flex;
    position: absolute;
    left: -172px;
    top: 27px;
    letter-spacing: 0.03px;
    font-family: var(--roboto-normal-regular-family);
    font-size: var(--roboto-normal-regular-size);
    font-weight: var(--roboto-normal-regular-weight);
    line-height: var(--roboto-normal-regular-line-height);
  }
  .logo2 {
    width: 125px;
    height: 125px;
    position: relative;
  }
  .frame-48 {
    background-color: var(--transparent-white-2);
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 47px;
    backdrop-filter: blur(50px);
  }
  .cyber-town {
    width: 400px;
    height: 300px;
  }
  .frame-63 {
    padding: 0 0 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .frame-53 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .frame-53:not(:last-of-type) {
    margin-bottom: 21px;
  }
  .frame-52 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .frame-52:not(:last-of-type) {
    margin-bottom: 24px;
  }
  .frame-5 {
    margin-bottom: 8px;
    padding: 5px 530px 0 0;
    display: flex;
    align-items: flex-start;
    height: 40px;
    width: 317px;
  }
  .deltarune-kiber-mir {
    height: 40px;
    width: 317px;
    color: var(--white);
    display: flex;
    letter-spacing: 0.08px;
    font-family: var(--roboto-32-medium-family);
    font-size: var(--roboto-32-medium-size);
    font-weight: var(--roboto-32-medium-weight);
    line-height: var(--roboto-32-medium-line-height);
  }
  .frame-49 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .parallel-naja-istorija-undertale-deltar {
    max-width: 432px;
    color: var(--white);
    text-align: justify;
    letter-spacing: 0.03px;
    font-family: var(--r14r-family);
    font-size: var(--r14r-size);
    font-weight: var(--r14r-weight);
    line-height: var(--r14r-line-height);
  }
  .parallel-naja-istorija-undertale-deltar:not(:last-of-type) {
    margin-bottom: 16px;
  }
  .obychnyj-nejntral-nyj-put {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: var(--white);
    margin-bottom: 8px;
    letter-spacing: 0.06px;
  }
  .na-sledujuschij-den-kris-so-s-juzi-zagljadyv {
    max-width: 327px;
    color: var(--white);
    text-align: justify;
    letter-spacing: 0.03px;
    font-family: var(--r14r-family);
    font-size: var(--r14r-size);
    font-weight: var(--r14r-weight);
    line-height: var(--r14r-line-height);
  }
  .frame-62 {
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .frame-55 {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sweet-capn-cakes-javljaetsja-dovol-no-ljogk {
    width: 847px;
    text-align: justify;
    color: var(--white);
    font-family: var(--r14r-family);
    font-size: var(--r14r-size);
    font-weight: var(--r14r-weight);
    line-height: var(--r14r-line-height);
  }
  .frame-61 {
    display: flex;
    align-items: flex-start;
  }
  .frame-59 {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .frame-48-two {
    background-color: var(--transparent-white-2);
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 8px;
    padding: 2px 0 0 1px;
    display: flex;
    align-items: center;
    height: 298px;
    width: 399px;
    backdrop-filter: blur(50px);
  }
  .sck {
    width: 399px;
    height: 298px;
  }
  .sweet-capn-cakes {
    color: var(--white);
    text-align: justify;
    letter-spacing: 0.03px;
    font-family: var(--roboto-normal-regular-family);
    font-size: var(--roboto-normal-regular-size);
    font-weight: var(--roboto-normal-regular-weight);
    line-height: var(--roboto-normal-regular-line-height);
  }
  .frame-60 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .spamton {
    width: 263px;
    height: 299px;
    margin-bottom: 8px;
  }
  .kogda-kris-i-nojell-ostajutsja-odni-oni-do {
    max-width: 847px;
    color: var(--white);
    text-align: justify;
    letter-spacing: 0.03px;
    font-family: var(--r14r-family);
    font-size: var(--r14r-size);
    font-weight: var(--r14r-weight);
    line-height: var(--r14r-line-height);
  }
  .vbsb {
    width: 489px;
    height: 430px;
    position: absolute;
    right: -1px;
    top: 380px;
  }
  .vtoraja-bitva-s-bjordli {
    height: 40px;
    width: 166px;
    color: var(--white);
    display: flex;
    text-align: justify;
    position: absolute;
    right: 322px;
    top: 822px;
    letter-spacing: 0.03px;
    font-family: var(--r14r-family);
    font-size: var(--r14r-size);
    font-weight: var(--r14r-weight);
    line-height: var(--r14r-line-height);
  }
